/* Global variables for changing colours across the site */
:root {
    --bg-color: #fffbea;
    --text: #333;
    --serif: "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
    --sans: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir, "Nimbus Sans L", Roboto, Noto, "Segoe UI", Arial, Helvetica, "Helvetica Neue", sans-serif;
}

/* Make the website responsive */
@media screen and (max-width: 100%) {
  .main {
    width: 800px;
  }
}

/* Format the main body of the website */
body {
	background: var(--bg-color);
	color: var(--text);
  font-size: 1.25rem;
	line-height: 1.5;
	font-family: var(--serif);
}

.main {
  float: center;
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  margin-top: 6rem;
  border-left: 4px solid var(--text);
}

@media only screen and (max-width: 420px) {
  .main {
    margin-top: 1rem;
  }
}

.footer {
	float: center;
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  margin-top: 4em;
  font-size: 1rem;
  font-family: var(--sans);
}

/* Typography */
p {
margin: 1rem;
}

.faint {
	opacity: 0.25;
}

/* Format Hyperlinks */

a, a:visited, a:active {
	text-decoration: underline;
  text-decoration-thickness: .15rem;
	color: var(--text);
}

a:hover {
	text-decoration-style: dotted;
}
